@import "tailwindcss";

@theme {
  --font-sans: Arial, Helvetica, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  body {
    background-color: #fafafa;
    color: #18181b;
  }
}
